.create__note {
  height: 100%;
}

.note__container {
  display: grid;
  grid-template-rows: auto auto 1fr 100px;
  grid-template-columns: 1fr;
  height: 100%;
  max-width: 750px;
  margin: 0 auto;

  .publish_button {
    grid-row: 4/5;
    grid-column: 1/2;
    margin: 30px 0px 40px 0px;
    height: fit-content;
    display: flex;

    button {
      justify-self: center;
      width: 100px;
      font-family: CustomSansSerif, "Lucida Grande", Arial, sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 17px;
      color: #000;
      text-decoration: none;
      border: 2px solid #333;
      border-radius: 16px;
      text-transform: uppercase;
      padding: 5px 0px;
      margin: 0 20px 15px 0px;
      background-color: #fff;
      cursor: pointer;
    }

    .error__box {
      width: 200px;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 20px;
      margin: 0 auto 20px auto;
      text-decoration: none;

      .error__box_message {
        font-family: "Roboto";
        color: rgba(255, 255, 255, 0.6);
        padding: 7px 12px;
        font-size: 14px;
      }
    }

    .success {
      background-color: #72be81;
    }

    .failed {
      background-color: #b67575;
    }

    .hidden {
      display: none;
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
}

@media (max-width: 1200px) {
  .note__container {
    max-width: 550px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .note__container {
    padding: 0 20px;
  }
}
