.wrapper_auth {
  height: 100%;
  display: grid;
  grid-template: 1fr auto 1fr / 1fr auto 1fr;

  .auth_container {
    grid-row: 2/3;
    grid-column: 2/3;
    padding: 60px 0px 30px 0px;
    display: grid;
    border-radius: 5%;
    grid-template-rows: auto 30px minmax(100px, auto) 50px auto;
    grid-template-columns: 350px;
    background: rgba(238, 237, 237, 0.6);
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  }

  [class*="__information"] {
    .error__box {
      width: 200px;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 20px;
      margin: 0 auto 20px auto;
      text-decoration: none;
      
      .error__box_message {
        font-family: "Roboto";
        color: rgba(255, 255, 255, 0.6);
        padding: 7px 12px;
        font-size: 14px;
      }
    }

    .success {
      background-color: #72be81;
    }

    .failed {
      background-color: #b67575;
    }

    .hidden {
      display: none;
      visibility: hidden;
      width: 0;
      height: 0;
    }
  }
}

@media (max-width: 390px) {
  .wrapper_auth {
    height: 100%;
    display: grid;
    grid-template: 1fr auto 1fr / 20px 1fr 20px;

    .auth_container {
      grid-template-columns: 1fr;
      grid-row: 2/3;
      grid-column: 2/3;
    }
  }
}
