@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,100;1,500&display=swap");

.grade__article {
  display: grid;
  grid-template-columns: minmax(78px, auto) 1fr 100px;
  grid-template-rows: 1fr;
  margin-bottom: 50px;

  .grades__section {
    margin-top: 20px;
    grid-column: 2/3;
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 28px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }

  .grades__section.is_open {
    left: 250px;
    width: calc(100% - 250px);
  }
}

.article__grade {
  border: 2px solid #11101d;
  border-radius: 38px;
  padding: 30px 40px;
  font-family: "Roboto";

  .article__header {
    display: grid;
    grid-template: auto auto / 1fr auto;
    row-gap: 10px;
    column-gap: 30px;
    position: relative;
    margin-bottom: 15px;

    .header__title {
      grid-row: 1/2;
      grid-column: 1/2;
      font-size: 32px;
      font-weight: 400;
    }
    .header__author {
      grid-row: 2/3;
      grid-column: 1/2;
      font-size: 18px;
      font-weight: 200;
      font-weight: 300;
    }
    .header__creator {
      grid-row: 1/2;
      grid-column: 2/3;
      font-size: 18px;
      font-weight: 300;
    }
    .header__created {
      grid-row: 2/3;
      grid-column: 2/3;
      font-size: 14px;
      font-weight: 300;
    }
  }

  .article__content::before {
    width: 100%;
    content: "";
    margin-bottom: 15px;
    height: 1px;
    background: #11101d;
    display: block;
    position: relative;
  }
  .article__content {
    margin: 30px 0px 30px 0px;
    .article__text {
      p {
        // max-height: 200px;
        // overflow-y: hidden;
        font-weight: 400;
        font-size: 24px;
      }
    }
  }
}

.grades__article {
  margin-top: 30px;
  > h2 {
    font-size: 24px;
    font-weight: 700;
  }
  > ul {
    > li {
      display: grid;
      grid-template: 1fr / auto 1fr auto;
      margin-top: 20px;
      background-color: rgba(229, 229, 229, 0.5);
      padding: 20px 15px;
      border-radius: 20px;
      > p {
        grid-column: 1/2;

        font-size: 22px;
        font-weight: 400;
      }
      > div {
        grid-column: 3/4;
        display: flex;
        i {
        }
        p {
        }
        i,
        p {
          font-size: 35px;
        }
      }
    }
  }
}
